{% extends "base.html" %}
{% load static %}


{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'assets/vendor/jquery-ui/themes/base/jquery-ui.min.css' %}">
{% endblock %}


{% block content %}

    <section class="g-mb-100 g-py-70">
        <div class="container">
            <div class="row">
                <!-- Profle Content -->
                <div class="col-lg-9">
                    <form name="newactivityform" method="post" enctype="multipart/form-data"
                          class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30 g-pb-60">{% csrf_token %}
                        <div class="form-group g-mb-20">
                            <label class="g-mb-10">First Name</label>
                            <div class="input-group g-brd-primary--focus">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-0 g-bg-white g-color-gray-light-v1"><i
                                            class="icon-user-follow"></i></span>
                                </div>
                                <input name="user-{{ userform.first_name.name }}"
                                       class="form-control form-control-md rounded-0" type="text"
                                       value="{{ userform.first_name.value }}">
                            </div>
                        </div>

                        <div class="form-group g-mb-20">
                            <label class="g-mb-10">Last Name</label>
                            <div class="input-group g-brd-primary--focus">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-0 g-bg-white g-color-gray-light-v1"><i
                                            class="icon-user-follow"></i></span>
                                </div>
                                <input name="user-{{ userform.last_name.name }}"
                                       class="form-control form-control-md rounded-0" type="text"
                                       value="{{ userform.last_name.value }}">
                            </div>
                        </div>


                        <div class="form-group g-mb-20">
                            <label class="g-mb-10">eMail Address</label>
                            <div class="input-group g-brd-primary--focus">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-0 g-bg-white g-color-gray-light-v1"><i
                                            class="icon-user-follow"></i></span>
                                </div>
                                <input name="user-{{ userform.email.name }}"
                                       class="form-control form-control-md rounded-0" type="text"
                                       value="{{ userform.email.value }}">
                            </div>
                        </div>


                        <hr class="g-brd-gray-light-v4 my-0">
                        <br>

                        <!-- change pwd -->
                        <div class="form-group">
                            <label class="bold">Change password</label>
                            <input type="password" class="form-control" name="oldPassword" placeholder="Old password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="newPassword" placeholder="New password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="retPassword"
                                   placeholder="Retype password">
                        </div>

                        <br>
                        {% if info.Profile.Role != "R" %}
                            <input type="submit" class="btn btn-info pull-right" value="Submit"/>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block jscript %}


    <script>

        $(document).ready(function () {
            $(document).on('change', '.btn-file :file', function () {
                var input = $(this),
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [label]);
            });

            $('.btn-file :file').on('fileselect', function (event, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-upload').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#imgInp").change(function () {
                readURL(this);
            });
        });
    </script>
{% endblock %}