{% extends 'designer/templates/base.html' %}
{% load static %}

{% block content %}
    <section class="container g-py-100">
      <div class="row justify-content-center">
        <div class="col-sm-8 col-lg-5">
          <div class="g-brd-around g-brd-gray-light-v4 rounded g-py-40 g-px-30">
            <header class="text-center mb-4">
              <h2 class="h2 g-color-black g-font-weight-600">Password Reset</h2>
                <p class="error">{{ error }}</p>
            </header>


          {% if validlink %}
          <!-- Form -->
            <form class="g-py-15" method="POST">{% csrf_token %}
              <div class="g-mb-35">
                <div class="row justify-content-between">
                  <div class="col align-self-center">
                    <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">New Password:</label>
                  </div>
                </div>
                <input name="pwd1" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15 mb-3" type="password" placeholder="Password">

                <div class="row justify-content-between">
                  <div class="col align-self-center">
                    <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Retype Password:</label>
                  </div>
                </div>
                <input name="pwd2" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15 mb-3" type="password" placeholder="Password">


                <div class="row justify-content-between">
                  <div class="col-8 align-self-center">
                  </div>
                  <div class="col-4 align-self-center text-right">
                    <button class="btn btn-md u-btn-primary rounded g-py-13 g-px-25" type="submit">Reset</button>
                  </div>
                </div>
              </div>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>

           {% else %}
                <h1>Password reset failed</h1>
                <p>The password reset link was invalid, <br />possibly because it has already been used. <br />Please request a new password reset.</p>
            {% endif %}
            <!-- End Form -->
          </div>
        </div>
      </div>
    </section>
    <!-- END RESET FORM -->
{% endblock %}