{% extends 'designer/templates/base.html' %}
{% load static %}

{% block content %}
    {% load i18n %}
    <!-- Login -->
    <section class="container g-py-100">
      <div class="row justify-content-center">
        <div class="col-sm-8 col-lg-5">
          <div class="g-brd-around g-brd-gray-light-v4 rounded g-py-40 g-px-30">
            <header class="text-center mb-4">
              <h2 class="h2 g-color-black g-font-weight-600">Password Reset</h2>
                <p>{% trans "Please enter your E-mail address to reset your password." %}</p>
                <p class="error">{{ error }}</p>
            </header>

            <!-- Form -->
            <form class="g-py-15" method="POST">{% csrf_token %}
              <div class="mb-4 u-has-error-v1-3">
                <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Email:</label>
                <input name="email" class="form-control form-control-md {% if error == '' %}g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover{% endif %} rounded g-py-15 g-px-15"
                       type="email" placeholder="johndoe@gmail.com" {% if email != None %}value="{{ email }}"{% endif %}>
                  {% if error != '' %}<small class="form-control-feedback d-block g-pos-abs g-top-0 g-right-0 g-bg-red g-color-white g-font-size-12 g-px-14 g-py-3 mt-0">{{ error }}</small>{% endif %}
              </div>

              <div class="g-mb-35">

                <div class="row justify-content-between">
                  <div class="col-8 align-self-center">
                  </div>
                  <div class="col-4 align-self-center text-right">
                    <button class="btn btn-md u-btn-primary rounded g-py-13 g-px-25" type="submit">Login</button>
                  </div>
                </div>
              </div>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
            <!-- End Form -->

            <footer class="text-center">
              <p class="g-color-gray-dark-v5 g-font-size-13 mb-0">Don't have an account? <a class="g-font-weight-600" href="/register">signup</a>
              </p>
            </footer>
          </div>
        </div>
      </div>
    </section>
    <!-- End Login -->
{% endblock %}