{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>MyCDP</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <!-- Google Fonts -->
    <link rel="stylesheet"
          href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/bootstrap.min.css' %}">
    <!-- CSS Global Icons -->
    <link rel="stylesheet" href="{% static 'assets/vendor/icon-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/icon-line/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/icon-etlinefont/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/icon-line-pro/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/icon-hs/style.css' %}">

    <link rel="stylesheet" href="{% static 'admin/assets/vendor/hs-admin-icons/hs-admin-icons.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor/animate.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css' %}">

    <link rel="stylesheet" href="{% static 'admin/assets/vendor/flatpickr/dist/css/flatpickr.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/assets/vendor/bootstrap-select/css/bootstrap-select.min.css' %}">

    <link rel="stylesheet" href="{% static 'admin/assets/vendor/chartist-js/chartist.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/assets/vendor/chartist-js-tooltip/chartist-plugin-tooltip.css' %}">
    <link rel="stylesheet" href="{% static 'admin/assets/vendor/fancybox/jquery.fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor/hamburgers/hamburgers.min.css' %}">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="{% static 'admin/assets/css/unify-admin.css' %}">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">


</head>

<body>
<!-- Header -->
<header id="js-header" class="u-header u-header--sticky-top">
    <div class="u-header__section u-header__section--admin-light u-shadow-v22 g-min-height-65">
        <nav class="navbar no-gutters g-pa-0">
            <div class="col-auto d-flex flex-nowrap u-header-logo-toggler g-py-12">
                <!-- Logo -->
                <a href="/"
                   class="navbar-brand d-flex align-self-center g-hidden-xs-down g-line-height-1 py-0 g-mt-5">
                    MyCDP
                </a>
                <!-- End Logo -->

                <!-- Sidebar Toggler -->
                <a class="js-side-nav u-header__nav-toggler d-flex align-self-center ml-auto" href="#!"
                   data-hssm-class="u-side-nav--mini u-sidebar-navigation-v1--mini"
                   data-hssm-body-class="u-side-nav-mini" data-hssm-is-close-all-except-this="true"
                   data-hssm-target="#sideNav">
                    <i class="hs-admin-align-left"></i>
                </a>
                <!-- End Sidebar Toggler -->
            </div>

            {% include 'designer/templates/userMenu.html' %}
        </nav>
    </div>
</header>
<!-- End Header -->


<main class="container-fluid px-0 g-pt-65">
    <div class="row no-gutters g-pos-rel g-overflow-x-hidden">
        {% block sidebar %}
            {% include 'designer/templates/sidebar.html' %}
        {% endblock %}

        <div class="col g-ml-45 g-ml-0--lg g-pb-65--md">
            <div class="g-bg-lightblue-v10-opacity-0_5 g-pa-20">

                {% block content %}

                {% endblock %}

            </div>

            {% include 'designer/templates/footer.html' %}
        </div>
    </div>
</main>

<!-- JS Global Compulsory -->
<script src="{% static 'admin/assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin/assets/vendor/jquery-migrate/jquery-migrate.min.js' %}"></script>

<script src="{% static 'assets/vendor/popper.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/bootstrap.min.js' %}"></script>

<script src="{% static 'assets/vendor/cookiejs/jquery.cookie.js' %}"></script>


<!-- jQuery UI Core -->
<script src="{% static 'assets/vendor/jquery-ui/ui/widget.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-ui/ui/version.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-ui/ui/keycode.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-ui/ui/position.js' %}"></script>

<!-- jQuery UI Helpers -->
<script src="{% static 'assets/vendor/jquery-ui/ui/widgets/menu.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-ui/ui/widgets/mouse.js' %}"></script>


<!-- JS Plugins Init. -->
<script src="{% static 'assets/vendor/appear.js' %}"></script>

<!-- JS Custom -->
<script src="{% static 'assets/js/custom.js' %}"></script>


<!-- JS Unify -->
<script src="{% static 'assets/js/hs.core.js' %}"></script>
<script src="{% static 'admin/assets/js/components/hs.side-nav.js' %}"></script>
<script src="{% static 'assets/js/helpers/hs.hamburgers.js' %}"></script>
<script src="{% static 'assets/js/components/hs.dropdown.js' %}"></script>


<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<script src="{% static 'webapp.js' %}"></script>

{% block jscript %}

{% endblock %}

<script>
    $(document).on('ready', function () {
        // initialization of custom select

        // initialization of sidebar navigation component
        $.HSCore.components.HSSideNav.init('.js-side-nav');

        // initialization of HSDropdown component
        $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {dropdownHideOnScroll: false});
    });
</script>
</body>

</html>