{% extends 'designer/templates/base.html' %}
{% load static %}

{% block content %}

    <h1 class="g-font-weight-300 g-font-size-32 g-color-black g-mb-10">2.1 Assess Status Quo</h1>


    <div class="row">
        <div class="col-md-7">
            <!-- Panel -->
            <div class="card g-brd-gray-light-v7 g-rounded-3 g-mb-30">
                <header class="card-header g-bg-transparent g-brd-bottom-none g-px-15 g-px-30--sm g-pt-15 g-pt-25--sm pb-0">
                    <div class="media">
                        <h3 class="d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black g-mr-10 mb-0">
                            About this phase</h3>
                    </div>
                </header>

                <div class="card-block g-px-15 g-px-30--sm g-py-10 g-py-15--sm">
                    <p class="g-font-weight-300 g-color-gray-dark-v6 mb-0">The first activity of the second phase gives you the opportunity to build upon your rationale and conduct an in-depth assessment of why you want to or should change your curriculum. While deriving your rationale-included thoughts on why you want to change your curriculum at a general level, this assessment should be more detailed. </p>
                </div>

                <div class="card-block g-px-15 g-px-30--sm g-py-10 g-py-15--sm">
                    <p class="g-font-weight-300 g-color-gray-dark-v6 mb-0">Let us start with a common example most lecturers will know about: Students have provided feedback complaining about a lack of topical, and new contents that they might have become aware of outside the lecture hall. This lack of new and fresh content resulted in a poor evaluation, so you became willing to change and adapt your curriculum under the rationale of providing topical, state of the art material within your curriculum.</p>
                </div>

                <div class="card-block g-px-15 g-px-30--sm g-py-10 g-py-15--sm">
                     <p class="g-font-weight-300 g-color-gray-dark-v6 mb-0">Following this example, it is now your task to check the given state of your curriculum. Motivated by your rationale, it is advisable to start assessing your curriculum by checking the age of your materials and resources that inform your courses. The questions to ask at this stage are highly dependent on your rationale, yet some generally applicable questions to answer in this activity are:</p>
                </div>

                <div class="card-block g-px-15 g-px-30--sm g-py-10 g-py-15--sm">
                    <ul class="g-font-weight-300 g-color-gray-dark-v6 mb-0">
                        <li>Which modules have not been adapted and updated in a long period (e.g. 2-3 years)?</li>
                        <li>Which modules, or even individual lectures, have received poor evaluation results from the students?</li>
                        <li>Which modules or lectures show the greatest potential for updates?</li>
                    </ul>
                </div>

                <div class="card-block g-px-15 g-px-30--sm g-py-10 g-py-15--sm">
                    <p class="g-font-weight-300 g-color-gray-dark-v6 mb-0">This time-perspective taken on in this example, is only one dimension in which your curriculum can be assessed. It is generally advisable to take on multiple perspectives, which go beyond your main reason for change. E.g. although students complained about topicality of your courses, it is worthwhile to consider the practical relevance of your curriculum.</p>
                </div>

                <div class="card-block g-px-15 g-px-30--sm g-py-10 g-py-15--sm">
                    <p class="g-font-weight-300 g-color-gray-dark-v6 mb-0">In order to answer these questions and provide more information about the given status quo, a tool is provided which allows for three means of analysis (please click the links to use the tool; they will open in a new window):</p>
                </div>

                <div class="card-block g-px-15 g-px-30--sm g-py-10 g-py-15--sm">
                    <ol class="g-font-weight-300 g-color-gray-dark-v6 mb-0">
                        <li><a href="/textis/" target="_blank">Syllables Analysis</a></li>
                        <li><a href="/textis/compare" target="_blank">Word Compare</a></li>
                        <li><a href="/textis/tree" target="_blank">Word Tree</a></li>
                    </ol>
                </div>

                <div class="card-block g-px-15 g-px-30--sm g-py-10 g-py-15--sm">
                    <p class="g-font-weight-300 g-color-gray-dark-v6 mb-0">All of the above-mentioned means of analysis build upon text mining algorithms that have analyzed a pool of hundreds of job ads, in order to allow for a deeper understanding of the actual practical relevance of the existing passages of your curriculum.</p>
                </div>

                <div class="card-block g-px-15 g-px-30--sm g-py-10 g-py-15--sm">
                    <p class="g-font-weight-300 g-color-gray-dark-v6 mb-0">To allow for a high flexibility, these means of analysis allow you to insert any word or passage from your existing curriculum and provide you with detailed information, specific to the three types of analysis. Further guidelines on how to use the different tools most effectively can be found in the description of the analysis tools.</p>
                </div>

                <div class="card-block g-px-15 g-px-30--sm g-py-10 g-py-15--sm">
                    <p class="g-font-weight-300 g-color-gray-dark-v6 mb-0">Note: For the given prototype, the tool is assessing job ads from the field of Data Science. The applicability is so for only given for related programmes. Yet, the applicability can be expanded by means of integrating different sources from different fields of job types.</p>
                </div>
            </div>
            <!-- End Panel Content -->

            <!-- Panel References -->
            <div class="card g-brd-gray-light-v7 g-rounded-3 g-mb-30">
                <header class="card-header g-bg-transparent g-brd-bottom-none g-px-15 g-px-30--sm g-pt-15 g-pt-25--sm pb-0">
                    <div class="media">
                        <h3 class="d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black g-mr-10 mb-0">
                           References</h3>
                    </div>
                </header>

                <div class="card-block g-px-15 g-px-30--sm g-py-10 g-py-15--sm">
                    <ul class="g-font-weight-300 g-color-gray-dark-v6 mb-0">
                        <li>Cheng-Man Lau, D. (2006): <a href="https://www.researchgate.net/publication/232830039_Analysing_the_curriculum_development_process_Three_models" target="_blank">Analysing the curriculum development process: Three models</a>. Pedagogy Culture and Society(1):29-44</li>
                        <li>Schildkamp, K.; Kuiper, W. (2006): <a href="https://doi.org/10.1016/j.tate.2009.06.007" target="_blank">Data-informed curriculum reform: Which data, what purposes, and promoting and hindering factors</a>. Teaching and Teacher Education 26 (3)</li>
                        <li>McKenney, S. (2008): <a href="https://eric.ed.gov/?id=EJ777392" target="_blank">Shaping Computer-Based Support for Curriculum Developers</a>. Computers & Education, 50 (1)</li>
                        <li>Chang, J-K. et al. (2016): <a href="https://ieeexplore.ieee.org/document/7557660" target="_blank">Curriculum Design -- A Data-Driven Approach</a>. 5th IIAI International Congress on Advanced Applied Informatics (IIAI-AAI).</li>
                    </ul>
                </div>
            </div>
            <!-- End Panel References-->

            <!-- Panel Resources -->
            <div class="card g-brd-gray-light-v7 g-rounded-3 g-mb-30">
                <header class="card-header g-bg-transparent g-brd-bottom-none g-px-15 g-px-30--sm g-pt-15 g-pt-25--sm pb-0">
                    <div class="media">
                        <h3 class="d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black g-mr-10 mb-0">
                           Resources</h3>
                    </div>
                </header>

                <div class="card-block g-px-15 g-px-30--sm g-py-10 g-py-15--sm">
                    <ul class="g-font-weight-300 g-color-gray-dark-v6 mb-0">
                        <li><a href="/textis/" target="_blank">Syllables Analysis</a></li>
                        <li><a href="/textis/compare" target="_blank">Word Compare</a></li>
                        <li><a href="/textis/tree" target="_blank">Word Tree</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Panel Resources-->
        </div>
        <!-- Info Image -->
        <div class="col-md-5 g-min-height-360 g-bg-size-cover g-bg-pos-center" data-bg-img-src="{% static 'assets/images/2_1_Assess_Status_Quo.jpg' %}"></div>
        <!-- End Info Image -->
    </div>

    <div class="row">
        <div class="col-md-7">
            <!-- Basic Text Inputs -->
            <div class="card g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md g-mb-30">
                <header class="card-header g-bg-transparent g-brd-bottom-none">
                    <div class="media">
                        <h3 class="d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black g-mr-10 mb-0">
                           Things to consider</h3>
                    </div>
                </header>
                <form method="post">
                    {% csrf_token %}
                    <!-- Columned Checkboxes -->
                    <div class="row g-mb-30">
                        <!-- Left Column -->
                        <div class="col-md-12">
                            <div class="form-group g-mb-10">
                                <label class="u-check g-pl-25">
                                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox"
                                           {% if properties.form21_1 %}checked{% endif %}
                                           {% if not user.is_authenticated %}disabled{% endif %}
                                           name="form21_1">
                                    <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                                        <i class="fa" data-check-icon=""></i>
                                    </div>
                                    I made use of the tool to obtain an overview of the current state of my curriculum.
                                </label>
                            </div>
                        </div>
                        <!-- End Left Column -->
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {% if user.is_authenticated %}
                                <input type="submit" class="btn btn-md btn-primary pull-right" value="Save">
                            {% else %}
                                <div class="pull-right">
                                    <a href="/login" class="btn btn-primary">Login</a><span> to make changes...</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </form>
                <!-- End With Button (Colorful BG) -->
            </div>
            <!-- End Basic Text Inputs -->
            {% include 'navigation.html' %}
        </div>
    </div>

{% endblock %}
