{% extends 'designer/templates/base.html' %}
{% load static %}

{% block content %}

    <h1 class="g-font-weight-300 g-font-size-32 g-color-black g-mb-10">1.1 Declare Rationale</h1>


    <div class="row">
        <div class="col-md-7">
            <!-- Panel -->
            <div class="card g-brd-gray-light-v7 g-rounded-3 g-mb-30">
                <header class="card-header g-bg-transparent g-brd-bottom-none g-px-15 g-px-30--sm g-pt-15 g-pt-25--sm pb-0">
                    <div class="media">
                        <h3 class="d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black g-mr-10 mb-0">
                            About this Phase</h3>
                    </div>
                </header>
                <div class="card-block g-px-15 g-px-30--sm g-py-10 g-py-15--sm">
                    <!-- h4 class="g-font-weight-300 g-font-size-18 g-font-size-22--md g-color-black g-mb-10">The inception phase (text missing)</h4 -->
                    <p class="g-font-weight-300 g-color-gray-dark-v6 mb-0">Considering your CDP, you decided to enhance and update an existing curriculum. Within such a process, any of the subsequent decisions that have to be made should be backed by a rationale, motivating and explaining why you want to update the existing curriculum, or create a whole new program. This rationale should state a clear goal of the planned program and be in line with the overarching vision and strategy of the broader institutional vision or strategy.</p>
                </div>
                <div class="card-block g-px-15 g-px-30--sm g-py-10 g-py-15--sm">
                    <p class="g-font-weight-300 g-color-gray-dark-v6 mb-0">Some questions that help creating such a rationale for the new curriculum can be seen in the following examples, that tackle the motivation on why you might want to change an existing curriculum.</p>
                </div>
                <div class="card-block g-px-15 g-px-30--sm g-py-10 g-py-15--sm">
                    <ul class="g-font-weight-300 g-color-gray-dark-v6 mb-0">
                        <li>Keeping up with the pace of the changing environment</li>
                        <li>Unsatisfied students and poor course evaluation results</li>
                        <li>Request for change issued by the Chair / Faculty</li>
                        <li>Lacking practical relevance</li>
                        <li>Lacking theoretical foundation</li>
                        <li>Lacking topicality and keeping up with the research field’s advancements</li>
                    </ul>
                </div>
                <div class="card-block g-px-15 g-px-30--sm g-py-10 g-py-15--sm">
                    <p class="g-font-weight-300 g-color-gray-dark-v6 mb-0">Next to the reasons for change it should be considered in what ways the institutional context demands alignment with requirements stated by accreditation associations and standards, e.g. such as AACSB.</p>
                </di>
            </div>
            <!-- End Panel -->
            </div>

            <!-- Panel References -->
            <div class="card g-brd-gray-light-v7 g-rounded-3 g-mb-30">
                <header class="card-header g-bg-transparent g-brd-bottom-none g-px-15 g-px-30--sm g-pt-15 g-pt-25--sm pb-0">
                    <div class="media">
                        <h3 class="d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black g-mr-10 mb-0">
                            References</h3>
                    </div>
                </header>

                <div class="card-block g-px-15 g-px-30--sm g-py-10 g-py-15--sm">
                    <ul class="g-font-weight-300 g-color-gray-dark-v6 mb-0">
                        <li>Taba, H. (1962): <a href="https://www.worldcat.org/title/curriculum-development-theory-and-practice/oclc/176063" target="_blank">Curriculum Development: Theory and Practice</a>. New York, NY: Harcourt, Brace & World.</li>
                        <li>Matkovic, Predrag; Tumbas, Pere; Sakal, Marton; Pavlićević, Veselin (2014): <a href="https://www.researchgate.net/publication/272294393_University_Stakeholders_in_the_Analysis_Phase_of_Curriculum_Development_Process_Model" target="_blank">Stakeholders in the Analysis Phase of Curriculum Development Process Model.</a></li>
                        <li>Richards, Jack C. (1984): <a href="https://doi.org/10.1177/003368828401500101" target="_blank">Language Curriculum Development.</a></li>
                        <li>Stanley, Angela Fowler (2009): <a href="https://getd.libs.uga.edu/pdfs/stanley_angela_f_200912_edd.pdf" target="_blank">The Tyler Rationale and the Ralph Tyler Project: An Historical Reconsideration. Dissertation. University of Georgia, Georgia. Graduate Faculty.</a></li>
                        <li>Tylor, V.; Rudnick, W. (2004): <a href="https://clutejournals.com/index.php/TLC/article/view/2016" target="_blank">Designing An MBA Curriculum With AACSB In Mind</a>. Teaching & Learning (TLC), 1(12).</li>
                        <li>AACSB (2019): <a href="https://www.aacsb.edu/-/media/aacsb/publications/white-papers/aol_white_paper_standard_8.ashx"target="_blank">Assurance of Learning Standards: An Interpretation</a></li>
                        <li>Aydın, B.; Unver, M. M.; Alan, B.; Saglam, S. (2017): <a href="https://eric.ed.gov/?id=EJ1140610" target="_blank">Combining the old and the new: Designing a curriculum based on the Taba Model and The Global Scale of English. Journal of Language and Linguistic Studies, 13(1), 304-320.</a></li>
                        <li>AAAS (2001): <a href="https://global.oup.com/academic/product/designs-for-science-literacy-9780195132786?cc=us&lang=en&" target="_blank">Designs for science literacy</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Panel References-->

        </div>
        <!-- Info Image -->
        <div class="col-md-5 g-min-height-360 g-bg-size-cover g-bg-pos-center" data-bg-img-src="{% static 'assets/images/1_1_Declare_Rationale.jpg' %}"></div>
        <!-- End Info Image -->
    </div>

    <div class="row">
        <div class="col-md-7">
            <!-- Basic Text Inputs -->
            <div class="card g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md g-mb-30">
                <header class="card-header g-bg-transparent g-brd-bottom-none">
                    <div class="media">
                        <h3 class="d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black g-mr-10 mb-0">
                            Things to consider</h3>
                    </div>
                </header>
                <form method="post">
                    {% csrf_token %}
                    <!-- Columned Checkboxes -->
                    <div class="row g-mb-30">
                        <!-- Left Column -->
                        <div class="col-md-12">
                            <div class="form-group g-mb-10">
                                <label class="u-check g-pl-25">
                                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox"
                                           {% if properties.form11_1 %}checked{% endif %}
                                           {% if not user.is_authenticated %}disabled{% endif %}
                                           name="form11_1">
                                    <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                                        <i class="fa" data-check-icon=""></i>
                                    </div>
                                    You reflected on current problems with the existing curriculum and identified reasons for change.
                                </label>
                                <label class="u-check g-pl-25">
                                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox"
                                           {% if properties.form11_2 %}checked{% endif %}
                                           {% if not user.is_authenticated %}disabled{% endif %}
                                           name="form11_2">
                                    <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                                        <i class="fa" data-check-icon=""></i>
                                    </div>
                                    You formulated a rationale including learning goals for the new programm that are in line with the broader institutional context.
                                </label>
                            </div>
                        </div>
                        <!-- End Left Column -->
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {% if user.is_authenticated %}
                                <input type="submit" class="btn btn-md btn-primary pull-right" value="Save">
                            {% else %}
                                <div class="pull-right">
                                    <a href="/login" class="btn btn-primary">Login</a><span> to make changes...</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </form>
                <!-- End With Button (Colorful BG) -->
            </div>
            <!-- End Basic Text Inputs -->

            {% include 'navigation.html' %}
        </div>
    </div>


{% endblock %}
