{% extends 'designer/templates/base.html' %}
{% load static %}

{% block content %}

    <h1 class="g-font-weight-300 g-font-size-32 g-color-black g-mb-10">1.1 Subactivity</h1>


    <div class="row">
        <div class="col-md-7">
            <!-- Panel -->
            <div class="card g-brd-gray-light-v7 g-rounded-3 g-mb-30">
                <header class="card-header g-bg-transparent g-brd-bottom-none g-px-15 g-px-30--sm g-pt-15 g-pt-25--sm pb-0">
                    <div class="media">
                        <h3 class="d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black g-mr-10 mb-0">
                            Panel title</h3>
                    </div>
                </header>

                <div class="card-block g-px-15 g-px-30--sm g-py-10 g-py-15--sm">
                    <h4 class="g-font-weight-300 g-font-size-18 g-font-size-22--md g-color-black g-mb-10">Basic
                        Panel</h4>
                    <p class="g-font-weight-300 g-color-gray-dark-v6 mb-0">Marketers/advertisers usually focus their
                        efforts on the people responsible for making the purchase. In many cases, this is an effective
                        approach but in other cases it can make for a totally useless marketing campaign. Virgin Mobile
                        took a more effective approach in marketing their cell phone service by focusing not on the
                        people that would be making the actual purchase, but instead focusing on the influencers of the
                        people making the purchase. To make this
                        campaign work, Virgin developed a viral website called Parental Enlightenment Kit which offers
                        many tips (often fairy funny ones) to convince their parents to purchase a Virgin Mobile phone
                        for them. By enlisting the teenagers Virgin
                        has multiplied the effectiveness of their marketing campaign.</p>
                </div>

            </div>
            <!-- End Panel -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div id="shortcode5-1">
                    <div class="shortcode-html">
                        <div class="row">
                            <div class="col-lg-6 g-mb-50 g-mb-0--lg">
                                <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
                                    <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">About</h2>
                                </div>

                                <p class="g-mb-30">There are many variations of passages of Lorem Ipsum available, but
                                    the majority have suffered alteration in some form, by injected humour, or
                                    randomised words which don't look even slightly believable.</p>

                                <a class="btn btn-md u-btn-primary rounded-0 g-mr-15" href="#!">About Us</a>
                                <a class="btn btn-md u-btn-outline-darkgray rounded-0 g-mr-15" href="#!">View Our
                                    Work</a>
                            </div>

                            <div class="col-lg-6 align-self-center">
                                <img class="img-fluid" src="{% static 'assets/images/library.jpg' %}"
                                     alt="Image Description">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- Basic Text Inputs -->
            <div class="g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md g-mb-30">
                <h3 class="d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black g-mb-20">
                    Basic Text Inputs</h3>

                <form method="post">
                    {% csrf_token %}

                    <!-- With Icon -->
                    <div class="form-group g-mb-30">
                        <label class="g-mb-10" for="inputGroup-1_3">With Icon</label>

                        <div class="g-pos-rel">
                      <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-50 h-100">
	                    <i class="hs-admin-search g-absolute-centered g-font-size-16 g-color-gray-light-v6"></i>
	                  </span>
                            <input id="inputGroup-1_3"
                                   class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10"
                                   type="text" placeholder="Placeholder">
                        </div>
                    </div>
                    <!-- End With Icon -->


                    <!-- Columned Checkboxes -->
                    <h4 class="h6 g-font-weight-700 g-mb-20">Columned checkboxes</h4>
                    <div class="row g-mb-30">
                        <!-- Left Column -->
                        <div class="col-md-6">
                            <div class="form-group g-mb-10">
                                <label class="u-check g-pl-25">
                                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox" {% if properties.uniquePerForm %}checked{% endif %}
                                           name="uniquePerForm">
                                    <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                                        <i class="fa" data-check-icon=""></i>
                                    </div>
                                    Canada
                                </label>
                            </div>

                            <div class="form-group g-mb-10">
                                <label class="u-check g-pl-25">
                                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox" {% if properties.uniquePerForm1 %}checked{% endif %}
                                           name="uniquePerForm1">
                                    <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                                        <i class="fa" data-check-icon=""></i>
                                    </div>
                                    United Kingdom
                                </label>
                            </div>

                            <div class="form-group g-mb-10 g-mb-0--md">
                                <label class="u-check g-pl-25">
                                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox" {% if properties.uniquePerForm2 %}checked{% endif %}
                                           name="uniquePerForm2">
                                    <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                                        <i class="fa" data-check-icon=""></i>
                                    </div>
                                    Australia
                                </label>
                            </div>
                        </div>
                        <!-- End Left Column -->


                        <!-- With Button (Colorful BG) -->
                        <div class="form-group">
                            <label class="g-mb-10" for="inputGroup-1_4">With Button (Colorful BG)</label>

                            <div class="g-pos-rel">
                                <button class="btn u-input-btn--v1 g-width-40 g-bg-primary g-rounded-right-4"
                                        type="submit">
                                    <i class="hs-admin-search g-absolute-centered g-font-size-16 g-color-white"></i>
                                </button>
                                <input id="inputGroup-1_4"
                                       class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3 g-rounded-4 g-px-14 g-py-10"
                                       type="text" placeholder="Placeholder">
                            </div>
                        </div>
                    </div>

                    <input type="submit" class="btn btn-md btn-primary pull-right" value="Save">
                </form>
                <!-- End With Button (Colorful BG) -->
            </div>
            <!-- End Basic Text Inputs -->
        </div>
    </div>

{% endblock %}
