{% extends 'designer/templates/base.html' %}
{% load static %}

{% block sidebar %}
{% endblock %}

{% block content %}
    <section class="g-brd-bottom g-brd-gray-light-v4">
        <div class="container g-py-150">
            <div class="row">
                <div class="col-lg-6">
                    <div class="d-inline-block g-width-80 g-height-4 g-bg-black mb-3"></div>
                    <h2 class="g-color-black g-font-weight-700 g-font-size-50 g-line-height-1 mb-4">Imprint</h2>

                    <p>
                    <div class="DNNModuleContent ModUniDnnEditorC" id="dnn_ctr815_ModuleContent"><span class="title"
                                                                                                       id="dnn_ctr815_dnnTITLE_titleLabel"></span>All
                        contents © copyright of the University of Liechtenstein.<br> All rights
                        reserved.<br><br><strong>Information in accordance with Art. 5 of the e-commerce
                            law</strong><br> University of Liechtenstein<br> (Foundation under public law)<br>
                        Fürst-Franz-Josef-Strasse<br> 9490 Vaduz<br> Liechtenstein<br><br> Telephone +423 265 11 11<br>
                        Fax: +423 265 11 12<br> E-mail: <a href="mailto:info@uni.li" data-val="info@uni.li"
                                                           data-linktype="email">info@uni.li</a><br><br><br> Public
                        Register number: FL-0000.001.631-4<br> MwSt. number: 52159<br><br> In accordance with Art. 37,
                        para. 1 of the law governing the University of Liechtenstein (LUG), the University of
                        Liechtenstein is subject to the higher authority of the Government of the Principality of
                        Liechtenstein.<br><br><br><strong>Responsibility for contents:</strong><br> University of
                        Liechtenstein, Fürst-Franz-Josef-Strasse, 9490 Vaduz
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
