<div class="row">
    <div class="col-md-12">
        <!-- Pagination #10 -->
        <nav class="text-center" aria-label="Page Navigation">
            <ul class="list-inline">
                {% if properties.navigation.prev %}
                    <li class="list-inline-item float-sm-left">
                        <a class="btn btn-primary" href="/{{ properties.navigation.prev }}" aria-label="Next">
                            <span aria-hidden="true"><i
                                    class="fa fa-angle-left g-mr-5"></i>{{ properties.navigation.prevlabel }}</span>
                        </a>
                    </li>
                {% endif %}
                {% if properties.navigation.next %}
                    <li class="list-inline-item float-sm-right">
                        <a class="btn btn-primary" href="/{{ properties.navigation.next }}" aria-label="Next">
                            <span aria-hidden="true">{{ properties.navigation.nextlabel }}<i
                                    class="fa fa-angle-right g-ml-5"></i></span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <!-- End Pagination #10 -->
    </div>
</div>