{% extends 'designer/templates/base.html' %}
{% load static %}

{% block sidebar %}
{% endblock %}

{% block content %}
    <section class="g-brd-bottom g-brd-gray-light-v4">
        <div class="container g-py-50">
            <div class="row">
                <div class="col-lg-6">
                    <div class="d-inline-block g-width-80 g-height-4 g-bg-black mb-3"></div>
                    <h2 class="g-color-black g-font-weight-700 g-font-size-50 g-line-height-1 mb-4">Privacy Policy</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="container g-py-50">
        <div class="DNNModuleContent ModUniDnnEditorC" id="dnn_ctr4202_ModuleContent"><h2>I. Name und Anschrift des
            Verantwortlichen und des Datenschutzbeauftragten</h2>
            <p>Der Verantwortliche im Sinne der Datenschutz-Grundverordnung (DSGVO) ist:</p>
            <p>Universität Liechtenstein<br> Fürst-Franz-Josef-Strasse<br> 9490 Vaduz<br> Liechtenstein</p>
            <p>Tel.: 00423 265 11 11<br> E-Mail: <a href="mailto:info@uni.li" data-linktype="email"
                                                    data-val="info@uni.li" data-subject="">info@uni.li</a><br> Webseite:
                www.uni.li</p>
            <p>Der Datenschutzbeauftragte der Universität Liechtenstein ist unter der o.g. Anschrift, zu Hd. Rainer
                Silbernagl, beziehungsweise unter <a href="mailto:datenschutz@uni.li" data-linktype="email"
                                                     data-val="datenschutz@uni.li"
                                                     data-subject="">datenschutz@uni.li</a> erreichbar.</p>
            <h2>II. Allgemeines zur Datenverarbeitung</h2>
            <h3>Umfang der Verarbeitung personenbezogener Daten</h3>
            <p>Unsere Verarbeitung personenbezogener Daten unserer Nutzer beschränkt sich auf jene Daten, die zur
                Bereitstellung einer funktionsfähigen Internetseite sowie unserer Inhalte und Leistungen erforderlich
                sind. Die Verarbeitung personenbezogener Daten unserer Nutzer erfolgt nur zu den mit ihnen vereinbarten
                Zwecken oder wenn eine sonstige rechtliche Grundlage (im Sinn der DSGVO) vorliegt. Es werden nur solche
                personenbezogenen Daten erhoben, die für die Durchführung und Abwicklung unserer Aufgaben und Leistungen
                tatsächlich erforderlich sind oder die Sie uns freiwillig zur Verfügung gestellt haben.</p>
            <h3>Ihre Rechte (Betroffenenrechte)</h3>
            <p>Sie haben das Recht, Auskunft über Ihre von uns verarbeiteten personenbezogenen Daten zu verlangen.
                Insbesondere können Sie Auskunft über die Verarbeitungszwecke, die Kategorien der personenbezogenen
                Daten, die Kategorien von Empfängern, gegenüber denen Ihre Daten offengelegt wurden oder werden, die
                geplante Speicherdauer, das Bestehen eines Rechts auf Berichtigung, Löschung, Einschränkung der
                Verarbeitung oder Widerspruch, Datenübertragung, die Herkunft Ihrer Daten, sofern diese nicht bei uns
                erhoben wurden, sowie über das Bestehen einer automatisierten Entscheidungsfindung einschliesslich
                Profiling verlangen. Sie haben auch das Recht, eine allenfalls erteilte Einwilligung zur Nutzung Ihrer
                personenbezogenen Daten jederzeit zu widerrufen. Sofern Sie der Auffassung sind, dass die Verarbeitung
                Ihrer personenbezogenen Daten durch uns im Widerspruch zu den geltenden Datenschutzbestimmungen steht,
                haben Sie die Möglichkeit, sich bei der Datenschutzstelle zu beschweren.</p>
            <h2>III. Beschreibung und Umfang der Datenverarbeitung</h2>
            <h3>Bereitstellung der Webseite</h3>
            <h3>1. Google Analytics</h3>
            <p>Auf unserer Webseite wird „Google Analytics”, ein Webanalysedienst der Google Inc., 1600 Amphitheatre
                Parkway, Mountain View, CA 94.043 USA, zur Auswertung der Websitebenutzung eingesetzt. Google Analytics
                verwendet Cookies (siehe Pkt. 2.), die auf Ihrem Computer gespeichert werden. Die darin enthaltenen
                Informationen über die Webseite- und Internetnutzung des Besuchers können von Google verarbeitet und
                ausgewertet werden.</p>
            <p>Die von Google erhobenen Daten werden gegebenenfalls von Google in Staaten ausserhalb der EU und des EWR,
                insbesondere die USA, übermittelt. Google hat sich jedoch dem Privacy Shield Framework unterworfen.
                Nähere Informationen zu Ihren Rechten daraus finden Sie unter
                http://ec.europa.eu/justice/dataprotection/document/citizens-guide_en.pdf. Zusätzlich stellen wir
                sicher, dass Ihre IP-Adresse vor der Übertragung an Google anonymisiert wird.</p>
            <p>Diese Website hat Google Display-Werbung (Remarketing) implementiert. Besucher können mit dem <a
                    href="http://www.google.com/ads/preferences/" rel="noopener noreferrer" target="_blank"
                    title="Anzeigenvorgaben Manager">Anzeigenvorgaben-Manager</a> Google Analytics für Display-Werbung
                deaktivieren und Anzeigen im Google Display-Netzwerk anpassen. Die Verwendung von Remarketing mit Google
                Analytics für die Online-Werbung beinhaltet die Schaltung von Anzeigen auf Websites durch Drittanbieter,
                einschließlich Google, Verwendung von Cookies durch diese Website oder Drittanbieter, einschließlich
                Google. Durch den kombinierten Einsatz von Google Analytics-Cookies und Drittanbieter-Cookies (
                DoubleClick-Cookies) können auf der Grundlage früherer Besuche eines Nutzers auf dieser Website Anzeigen
                ausgerichtet, optimiert und geschaltet werden.<br> Falls Sie ihren Besuch auf unserer Seite nicht von
                Google Analytics auswerten lassen wollen, können Sie das <a
                        href="https://tools.google.com/dlpage/gaoptout/" rel="noopener noreferrer" target="_blank"
                        title="Google Analytics Opt-out tool">Deaktivierungs-Add-on für Browser von Google
                    Analytics </a> nutzen. Laut Google teilt dieses Add-on dem JavaScript (//ga.js) von Google Analytics
                mit, dass keine Informationen über den Website-Besuch an Google Analytics übermittelt werden sollen.</p>
            <h3>2. Cookies</h3>
            <p>Wir verwenden auf unserer Webseite Cookies, um damit unser Angebot nutzerfreundlich zu gestalten. Cookies
                sind kleine Dateien, die Ihr Browser automatisch erstellt und die auf Ihrem Endgerät (Laptop, Tablet,
                Smartphone etc.) gespeichert werden, wenn Sie unsere Seite besuchen. Die Cookies bleiben so lange
                gespeichert, bis Sie diese löschen. Dadurch können wir Ihren Browser beim nächsten Besuch
                wiedererkennen. Sollten Sie dies nicht wünschen, können Sie Ihren Browser so einrichten, dass er Sie
                über das Setzen von Cookies informiert und Sie diese im Einzelfall erlauben. Wir weisen Sie allerdings
                darauf hin, dass eine Deaktivierung dazu führt, dass Sie nicht alle Funktionen unserer Webseite nutzen
                können.</p>
            <h3>3. Kontaktformulare</h3>
            <p>Füllen Sie ein Kontaktformular aus oder senden Sie uns eine Mail oder eine sonstige elektronische
                Nachricht, werden Ihre Angaben nur für die Bearbeitung der Anfrage, mögliche damit zusammenhängende
                weitere Fragen, gespeichert und nur im Rahmen der Anfrage verwendet.</p>
            <p>Wir werden Ihre E-Mail-Adresse nach Erledigung Ihrer Anfrage löschen.</p>
            <h2>IV. Datensicherheit</h2>
            <p>Wir verwenden innerhalb des Webseite-Besuchs das verbreitete SSL-Verfahren in Verbindung mit der jeweils
                höchsten Verschlüsselungsstufe, die von Ihrem Browser unterstützt wird. Ob eine einzelne Seite unseres
                Internetauftrittes verschlüsselt übertragen wird, erkennen Sie an der geschlossenen Darstellung des
                Schüssel- beziehungsweise Schloss-Symbols in der Adressleiste Ihres Browsers. Darüber hinaus wenden wir
                weitere geeignete technische und organisatorische Sicherheitsmassnahmen an, um Ihre Daten gegen
                zufällige oder vorsätzliche Manipulationen, teilweisen oder vollständigen Verlust, Zerstörung oder gegen
                den unbefugten Zugriff Dritter zu schützen. Unsere Sicherheitsmassnahmen werden entsprechend der
                technologischen Entwicklung fortlaufend verbessert.</p>
            <h2>V. Haftungsausschluss</h2>
            <div>Die Universität Liechtenstein ist darum bemüht, einen sicheren Betrieb dieser Website zu ermöglichen.
                Ebenso ist die Universität Liechtenstein bestrebt bei allen externen Links vorab die verlinkte Seite auf
                ihren Inhalt und die Vertrauenswürdigkeit zu überprüfen. Mängel wie Datenverlust, Viren, Unterbruch oder
                ähnliches können jedoch nicht ausgeschlossen werden. Für den Inhalt verlinkter Seiten ist auschliesslich
                der jeweilige Betreiber zuständig und wir möchten Sie darauf hinweisen, dass der Betreiber verlinkter
                Seiten eventuell eine andere Privacy Policy besitzt. Ebenso kann die Universität Liechtenstein nicht
                gewährleisten, dass die Website und deren Inhalte stets aktuell, korrekt oder vollständig sind.
            </div>
            <div></div>
            <div>Die Universität Liechtenstein lehnt daher jede Haftung für Schäden oder Folgeschäden ab, die aufgrund
                eines Zugriffs auf diese Website oder einer Nutzung von Inhalten, die sich auf der Website befinden
                (z.B. Downloads) oder aus einer Verlinkung auf eine andere Website ergeben sowie aller sonstiger
                Schäden, die im Zusammenhang mit dieser Website stehen.
            </div>
            <div></div>
            <div>Die Universität Liechtenstein weist Sie ausdrücklich darauf hin, dass die Verwendung oder Weitergabe
                von Inhalten, Texten oder Bildern nur mit ausdrücklicher Genehmigung der Universität Liechtenstein
                zulässig ist.
            </div>
        </div>
    </section>
{% endblock %}