<!-- Sidebar Nav -->
<div id="sideNav" class="col-auto u-sidebar-navigation-v1 u-sidebar-navigation--light">
    <ul id="sideNavMenu" class="u-sidebar-navigation-v1-menu u-side-nav--top-level-menu g-min-height-100vh mb-0">
        <!-- Home -->
        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
            <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12"
               href="/">
                <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                    <i class="fa fa-home"></i>
                </span>
                <span class="media-body align-self-center">Home</span>
                <span class="u-side-nav--has-sub-menu__indicator"></span>
            </a>
        </li>

        <!-- Menu1 -->
        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item {% if 'form1' in properties.form %}u-side-nav-opened has-active{% endif %}">
            <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="" data-hssm-target="#subMenu1">
              <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
              <i class="fa fa-magic"></i>
            </span>
              <span class="media-body align-self-center">1. Incepting</span>
              <span class="d-flex align-self-center u-side-nav--control-icon">
              <i class="hs-admin-angle-right"></i>
            </span>

              <span class="u-side-nav--has-sub-menu__indicator"></span>
            </a>

            <!-- Panels/Cards: Submenu-1 -->
            <ul id="subMenu1" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0">
              <!-- Panel Variations -->
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12 {% if 'form11' in properties.form %}active{% endif %}" href="/form11">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
          <i class="hs-admin-layout-cta-btn-left"></i>
        </span>
                  <span class="media-body align-self-center">1.1 Declare Rationale</span>
                </a>
              </li>
              <!-- End Panel Variations -->

              <!-- Panel with Tabs -->
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12 {% if 'form12' in properties.form %}active{% endif %}" href="/form12">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                      <i class="hs-admin-layout-cta-right"></i>
                    </span>
                  <span class="media-body align-self-center">1.2 Identify Stakeholders</span>
                </a>
              </li>

                  <!-- Panel with Tabs -->
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12 {% if 'form13' in properties.form %}active{% endif %}" href="/form13">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                      <i class="hs-admin-layout-cta-right"></i>
                    </span>
                  <span class="media-body align-self-center">1.3 Derive Objectives</span>
                </a>
              </li>

                  <!-- Panel with Tabs -->
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12 {% if 'form14' in properties.form %}active{% endif %}" href="/form14">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                      <i class="hs-admin-layout-cta-right"></i>
                    </span>
                  <span class="media-body align-self-center">1.4 Set up Communication Plan</span>
                </a>
              </li>
            </ul>
          </li>
        <!-- End Menu1 -->

        <!-- Menu2 -->
        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item {% if 'form2' in properties.form %}u-side-nav-opened has-active{% endif %}">
            <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="#!" data-hssm-target="#subMenu2">
              <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
              <i class="fa fa-info-circle"></i>
            </span>
              <span class="media-body align-self-center">2. Informing</span>
              <span class="d-flex align-self-center u-side-nav--control-icon">
              <i class="hs-admin-angle-right"></i>
            </span>

              <span class="u-side-nav--has-sub-menu__indicator"></span>
            </a>

            <!-- Panels/Cards: Submenu-1 -->
            <ul id="subMenu2" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0">
              <!-- Panel Variations -->
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12 {% if 'form21' in properties.form %}active{% endif %}" href="/form21">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
          <i class="hs-admin-layout-cta-btn-left"></i>
        </span>
                  <span class="media-body align-self-center">2.1 Assess Status Quo</span>
                </a>
              </li>
              <!-- End Panel Variations -->

              <!-- Panel with Tabs -->
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12 {% if 'form22' in properties.form %}active{% endif %}" href="/form22">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                      <i class="hs-admin-layout-cta-right"></i>
                    </span>
                  <span class="media-body align-self-center">2.2 Identify Gaps</span>
                </a>
              </li>
            </ul>
          </li>
        <!-- End Menu2 -->

        <!-- Menu3 -->
        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item {% if 'form3' in properties.form %}u-side-nav-opened has-active{% endif %}">
            <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="#!" data-hssm-target="#subMenu3">
              <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
              <i class="fa fa-navicon"></i>
            </span>
              <span class="media-body align-self-center">3. Integrating</span>
              <span class="d-flex align-self-center u-side-nav--control-icon">
              <i class="hs-admin-angle-right"></i>
            </span>

              <span class="u-side-nav--has-sub-menu__indicator"></span>
            </a>

            <!-- Panels/Cards: Submenu-1 -->
            <ul id="subMenu3" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0">
              <!-- Panel Variations -->
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12 {% if 'form31' in properties.form %}active{% endif %}" href="/form31">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
          <i class="hs-admin-layout-cta-btn-left"></i>
        </span>
                  <span class="media-body align-self-center">3.1 Select Content</span>
                </a>
              </li>
              <!-- End Panel Variations -->

              <!-- Panel with Tabs -->
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12 {% if 'form32' in properties.form %}active{% endif %}" href="/form32">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                      <i class="hs-admin-layout-cta-right"></i>
                    </span>
                  <span class="media-body align-self-center">3.2 Integrate Content</span>
                </a>
              </li>
            </ul>
          </li>
        <!-- End Menu3 -->

        <!-- Menu4 -->
        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item {% if 'form4' in properties.form %}u-side-nav-opened has-active{% endif %}">
            <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="#!" data-hssm-target="#subMenu4">
              <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
              <i class="fa fa-search"></i>
            </span>
              <span class="media-body align-self-center">4. Inspecting</span>
              <span class="d-flex align-self-center u-side-nav--control-icon">
              <i class="hs-admin-angle-right"></i>
            </span>

              <span class="u-side-nav--has-sub-menu__indicator"></span>
            </a>

            <!-- Panels/Cards: Submenu-1 -->
            <ul id="subMenu4" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0">
              <!-- Panel Variations -->
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12 {% if 'form41' in properties.form %}active{% endif %}" href="/form41">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
          <i class="hs-admin-layout-cta-btn-left"></i>
        </span>
                  <span class="media-body align-self-center">4.1 Communicate Results</span>
                </a>
              </li>
              <!-- End Panel Variations -->

              <!-- Panel with Tabs -->
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12 {% if 'form42' in properties.form %}active{% endif %}" href="/form42">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                      <i class="hs-admin-layout-cta-right"></i>
                    </span>
                  <span class="media-body align-self-center">4.2 Evaluate Curriculum</span>
                </a>
              </li>

                  <!-- Panel with Tabs -->
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12 {% if 'form43' in properties.form %}active{% endif %}" href="/form43">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                      <i class="hs-admin-layout-cta-right"></i>
                    </span>
                  <span class="media-body align-self-center">4.3 Set Up CDP Continuity</span>
                </a>
              </li>
            </ul>
          </li>
        <!-- End Menu4 -->

        <!-- playground --
        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
            <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12"
               href="#!">
                <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                    <i class="fa fa-birthday-cake"></i>
                </span>
                <span class="media-body align-self-center">Playground</span>
                <span class="u-side-nav--has-sub-menu__indicator"></span>
            </a>
        </li>
        -->
    </ul>
</div>
<!-- End Sidebar Nav -->