<!-- Messages/Notifications/Top Search Bar/Top User -->
<div class="col-auto d-flex g-py-12 g-pl-40--lg ml-auto">
    <!-- Top User -->
    <div class="col-auto d-flex g-pt-5 g-pt-0--sm g-pl-10 g-pl-20--sm">
        <div class="g-pos-rel g-px-10--lg">
            {% if user.is_authenticated %}

                <a id="profileMenuInvoker" class="d-block" href="#!" aria-controls="profileMenu" aria-haspopup="true"
                   aria-expanded="false" data-dropdown-event="click" data-dropdown-target="#profileMenu"
                   data-dropdown-type="css-animation" data-dropdown-duration="300"
                   data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
                        <span class="g-pos-rel">
                    <span class="g-pos-rel g-top-2">
                <span class="g-hidden-sm-down">{{ user }}</span>
                        <i class="hs-admin-angle-down g-pos-rel g-top-2 g-ml-10"></i>
                        </span>
                </a>

                <!-- Top User Menu -->
                <ul id="profileMenu"
                    class="g-pos-abs g-left-0 g-width-100x--lg g-nowrap g-font-size-14 g-py-20 g-mt-17 rounded"
                    aria-labelledby="profileMenuInvoker">
                    <li class="g-mb-10">
                        <a class="media g-color-primary--hover g-py-5 g-px-20" href="/profile">
                            <span class="d-flex align-self-center g-mr-12">
                  <i class="hs-admin-user"></i>
                </span>
                            <span class="media-body align-self-center">My Profile</span>
                        </a>
                    </li>
                    <li class="mb-0">
                        <a class="media g-color-primary--hover g-py-5 g-px-20" href="/logout">
                            <span class="d-flex align-self-center g-mr-12">
                  <i class="hs-admin-shift-right"></i>
                </span>
                            <span class="media-body align-self-center">Sign Out</span>
                        </a>
                    </li>
                </ul>
            {% else %}
                <a href="/login">Login</a>
            {% endif %}
            <!-- End Top User Menu -->
        </div>
    </div>
    <!-- End Top User -->
</div>
<!-- End Messages/Notifications/Top Search Bar/Top User -->